<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li id="brand">{{#link-to 'index'}}<span id='daycare'>Daycare</span><span id='share'>Share</span>{{/link-to}}</li>
      <li class="navLinks">{{#link-to 'new-daycare'}}<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Add Daycare{{/link-to}}</li>
    </ul>
  </div>
</nav>



{{outlet}}
